@use '../../style/Globals' as *;

.card {
  display: flex;
  height: 60px;
  background-color: $white;
  border: 1px solid rgba($black, 0.15);
  border-radius: 8px;
  overflow: hidden;
  font-size: 1.1rem;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }
}

.name {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $alt-white;
}
