@use '../../style/Globals' as *;

.hint {
  color: $main;
  font-size: 0.9rem;
  text-decoration: underline;
}

.page {
  padding: 3rem 8% 4rem;
}

// Mobile
@media (max-width: 800px) {
  .page {
    padding: 2rem 1.5rem 3rem;
  }
}
