@use '../../style/Globals' as *;

.section {
  padding: 2rem 8% 4rem;
}

.title {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.grid {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

// Mobile
@media (max-width: 800px) {
  .section {
    padding: 2rem 1.5rem 3rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}
